.gradle/
.idea/
bukkit/src/test/
common/src/main/resources/
common/src/test/
gradle/
gradlew
gradlew.bat
lib/
nms/build.gradle
nms/src/main/resources/
nms/src/test/
src/
v1_10_R1/build.gradle
v1_10_R1/src/main/resources/
v1_10_R1/src/test/
v1_11_R1/build.gradle
v1_11_R1/src/main/resources/
v1_11_R1/src/test/
v1_12_R1/src/main/resources/
v1_12_R1/src/test/
v1_9_R1/build.gradle
v1_9_R1/src/main/resources/
v1_9_R1/src/test/
v1_9_R2/build.gradle
v1_9_R2/src/main/resources/
v1_9_R2/src/test/
*.iml